<div class="container">
   <div class="row my-5 ">
     <div class="col">

      <button class="btn btn-primary" id="btn" routerLink="/myedit" >CUSTOMIZE A TEMPLATE</button>

      <a routerLink="/myedit"><button class="btn btn-primary" id="btn">MY TEMPLATE</button></a>
     </div>
     <div class="col">
      <div class="container">
         <div class="row" >
           <div class="col" *ngFor="let userBG of userBGs">
            <p>{{userBG.id+1}}</p>
            <a routerLink="/myedit">
            <img class="my-2" src="{{userBG.image}}"  width="250" height="150" alt="Sample1"></a>
           </div>
           
         </div>
       
     </div>
   </div>

